
*.gyd
*.jed
*.*log
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.stx
*.syr
*.tim
*.tspec
*.tim
*.tspec
*.vm6
*.xml
*.xst
*.js
*.htm
*.gif
*.bld
*.tmp
*.css
*.html
*.xrpt
*.gise
*.xise
*.xmsgs
*.cmd
*.xreport
*.dll
*.dat
*.exe
*.sdb
*.wdb
*.sdbl
*.sdbx
*.lst
*.restore
*.ref
*.bin
*.obj
*.wfs
*.err
*.ini
*.mr
*.pvl
*.syn
*.svf
*.log
*.aux
*.gz
*.projectmgr
*.prj
*.log*
*.rst
*.vdi
*.dcp
*.pb
*.sw*
*.q*
*.j*
*.wlf